@import url(./global.css);

header{
    display: flex;
    justify-content: space-around;
    padding: 56px 0px;
    align-items: center;
}
.nav-header ul{
    display: flex;
    justify-content: center;
    font-size: var(--font--size--p);
    gap:40px;
    list-style: none;
   
}
.nav-header ul a{
    text-decoration: none;
    color: var( --color--neutral--light--gray);
    font-weight: medium;
}
.active{
    color:var( --color--primary--green);
}
.shopcart{
    display: flex;
    align-items: center;
    gap:24px
    
}
.btn-login{
    color: var(--color--primary--green);
    background-color:transparent;
    border-radius: 10px;
    border: 1px solid var(--color--primary--green);
    padding: 16px 32px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 124px;
    
}
.healthy-food-content{
    width: 563px;

    
}
.healthy-food-content h1{
    width: 563px;
    font-size: var(--font--size--h1);
    margin-bottom: 32px;
}
.healthy-food-content h1 span{
    color: var(--color--primary--green);
}
.healthy-food-content p{
    font-size: var(--font--size--p);
    color:var(--color--neutral--light--gray);
    margin-bottom: 32px;
    line-height: 1.6;

}
.btn-main{
    display: flex;
    margin-top: 32px;
    gap:24px;
}
.btn-order-now{
    color: var( --color--neutral--white);
    background-color:var(--color--primary--green);
    border-radius: 10px;
    border: 1px solid var(--color--primary--green);
    padding: 16px 32px;
   
}
.btn-explore-products{
    color: var(--color--primary--green);
    background-color:transparent;
    border-radius: 10px;
    border: 1px solid var(--color--primary--green);
    padding: 16px 32px;

}
.img-main{
    width: 651px;
    height: 494px;
}
.why-choose-us{
    background-color: var( --color--white--overlay);
    padding: 100px;
}
.choose-us-title {
    text-align: center;
}
.choose-us-title h2{
    margin-bottom: 14px;
    font-weight:bold;
    font-size: var(--font--size--h2);
}
.choose-us-title p{
  color: var( --color--neutral--grey);
  font-size: var(--font--size--p);
}
.img-why-choose-us{
    height: 216px;
    width: 216px;
}
.article-choose-us{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-choose-us img{
    align-items: center;
}
.cards-why-choose{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap:20px;
}
.article-choose-us h3{
    text-align: center;
    padding: 40px 18.5px  8px 18.5px;
    font-size: var( --font--size--h3);
}   
.article-choose-us p{
    width: 290px;
    margin: 0 auto;
    text-align: center; 
    font-size: var(--font--size--p);
    color: var(--color--neutral--grey);
}
.choose-us-stastics-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0px 18.5px  8px 18.5px;
    align-items: center;
    gap: 300px;
}
.choose-us-stastics-content h2{
    text-align: center;
    font-size: var(--font--size--h2);
    font-weight: normal;
    color: var(--color--neutral--black);
}
.choose-us-stastics-content p{
    margin-top: 8px;
    color: var(--color--neutral--grey);
    font-size: var(--font--size--p);

}