@import url(./global.css);

@font-face {
    font-family: 'Gilroy Black';
    src: url('../assets/fonts/Gilroy-Black.ttf') ;         
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../assets/fonts/Gilroy-Bold.ttf') ;         
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../assets/fonts/Gilroy-Light.ttf') ;         
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('../assets/fonts/Gilroy-Medium.ttf');         
}

header{
    display: flex;
    justify-content: space-around;
    padding: 56px 0px;
    align-items: center;
}
.nav-header ul{
    display: flex;
    justify-content: center;
    font-size: var(--font--size--p);
    gap:40px;
    list-style: none;
   
}
.nav-header ul a{
    text-decoration: none;
    color: var( --color--neutral--light--gray);
    font-weight: medium;
}
.active{
    color:var( --color--primary--green);
}
.shopcart{
    display: flex;
    align-items: center;
    gap:24px
    
}
.btn-login{
    color: var(--color--primary--green);
    background-color:transparent;
    border-radius: 10px;
    border: 1px solid var(--color--primary--green);
    padding: 16px 32px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 124px;
    
}
.healthy-food-content{
    width: 563px;

    
}
.healthy-food-content h1{
    width: 563px;
    font-size: var(--font--size--h1);
    margin-bottom: 32px;
}
.healthy-food-content h1 span{
    color: var(--color--primary--green);
}
.healthy-food-content p{
    font-size: var(--font--size--p);
    color:var(--color--neutral--light--gray);
    margin-bottom: 32px;
    line-height: 1.6;

}
.btn-main{
    display: flex;
    margin-top: 32px;
    gap:24px;
}
.btn-order-now{
    color: var( --color--neutral--white);
    background-color:var(--color--primary--green);
    border-radius: 10px;
    border: 1px solid var(--color--primary--green);
    padding: 16px 32px;
   
}
.btn-explore-products{
    color: var(--color--primary--green);
    background-color:transparent;
    border-radius: 10px;
    border: 1px solid var(--color--primary--green);
    padding: 16px 32px;

}
.img-main{
    width: 651px;
    height: 494px;
}
.why-choose-us{
    background-color: var( --color--white--overlay);
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose-us-title {
    text-align: center;
}
.choose-us-title h2{
    margin-bottom: 14px;
    font-size:48px;
    font-family: 'Gilroy Bold'; 
}
.choose-us-title p{
  color: var( --color--neutral--grey);
  font-size: var(--font--size--p);
}
.img-why-choose-us{
    height: 216px;
    width: 216px;
}
.article-choose-us{
    width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-choose-us img{
    align-items: center;
}
.cards-why-choose{
    width: 1240px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap:20px;

}
.article-choose-us h3{
    text-align: center;
    padding: 40px 18.5px  8px 18.5px;
    font-size: var( --font--size--h3);
}   
.article-choose-us p{
    width: 290px;
    margin: 0 auto;
    text-align: center; 
    font-size: var(--font--size--p);
    color: var(--color--neutral--grey);
}
.choose-us-stastics-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0px 18.5px  8px 18.5px;
    align-items: center;
    gap: 300px;
}
.choose-us-stastics-content h2{
    text-align: center;
    font-size: var(--font--size--h2);
    font-weight: normal;
    color: var(--color--neutral--black);
}
.choose-us-stastics-content p{
    margin-top: 8px;
    color: var(--color--neutral--grey);
    font-size: var(--font--size--p);
}
.special-dishes{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.special-dishes-h2{
    text-align: center;
    font-size:var(--font--size--h2);
    color: var(--color--neutral--black);
}
.img-special-dishes{
    width: 250px;
    height: 242.65px;
}
.img-special-dishes-different{
    width: 192px;
    height:242px;
}
.cards-special-dishes{
    width: 1240px;
    display: flex;
    flex-direction: center;
    align-items: center;
    gap:20px

}
.special-dishes-container{
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.special-dishes-h2{
    font-size: var(--font--size--h3);
    color: var(--color--neutral--black);
    margin-bottom: 60px;
    
}
.special-dishes-container p{
    color: var( --color--neutral--light--gray);
    font-size: var(--font--size--p);
    margin-top: 16px;
    width: 279px;
    text-align: center;
}
.special-dishes-container button{
    margin-top: 16px;
    width: 352px;
    padding: 16px 32px;
    background-color: var(--color--primary--green);
    color: var(--color--neutral--white);
    font-size: var(--font-size--button);
    border-radius: 8px ;
}
.comentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 1439px; */
    padding: 100px;
    background-color: var(--color--white--overlay);

}
.comentarios-title{
    text-align: center;
    margin-bottom: 60px;
}
.comentarios-title h2{
    font-size: var(--font--size--h2);
    color: var(--color--neutral--black);
    margin-bottom: 8px;
}
.comentarios-title p{
    font-size: var(--font--size--p);
    color: var(--color--neutral--light--gray);
}
.cards-comentarios{
    width: 1240px;
    display: flex;
    gap: 20px;

}
.comentarios-content img{
    width:100px;
    height: 100px;
    margin-bottom: 24px;
}
.comentarios-content{
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: var(--color--neutral--white);
    border-radius: 16px;
    text-align: center;
}
.comentarios-content h3{
    font-size: var(--font--size--h3);
    color: var(--color--neutral--black);
    margin-bottom: 16px;
} 
.comentarios-content p{
    color: var(--color--neutral--light--gray);
    font-size: var(--font--size--p);
    width: 310px;
    height: 150px;
}
.about-us{
    display: flex;
    justify-content: center;
    padding: 100px;
    align-items: start;
    gap: 82px;
    
}
.about-us h2{
    font-size: 40px;
    font-family: 'Gilroy Bold';
    margin-bottom: 24px;

}
.about-us p{
    color: var( --color--neutral--light--gray);
    font-size: var(--font--size--p);
    width: 558px;
    margin-bottom: 24px;
} 
.btn-about-us{
    color: var(--color--neutral--white);
    background-color:var(--color--primary--green);
    border-radius: 10px;
    padding: 16px 32px;
    font-size: var(--font-size--button);
}
.subscribe{
    margin-top: 60px;
    padding: 100px 600px; 
    background-color: var(--color--white--overlay);
    

}
.newsteller{
    width: 710px;
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsteller h2{
    font-size: var(--font--size--h2);
    font-family: 'Gilroy Bold';
    color: var(--color--neutral--black);
    margin-bottom: 8px;
}
.newsteller p{
    font-size: var(--font--size--p);
    color: var(--color--neutral--light--gray);
    margin-bottom: 60px;
}
input{
    padding: 8px 8px 8px 24px;
    width: 710px;
    height: 77px;
    background-color: var(--color--neutral--white);
    color: var(--color--neutral--black);
    border: 1px solid #C1C1C1;
    border-radius: 8px;
    font-size: var(--font--size--p);

}
input::placeholder{
    color: var(--color--neutral--black);
}
.newsteller button{
    width: 174px;
    height: 61px;
    background-color: var(--color--primary--green);
    color: var(--color--neutral--white);
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    translate: 320% -130%; 
    border-radius: 8px;
    /* 320 pra direita e 13o pra cima */
}
